h2, ol {
    text-align: left;
  }

div.test {
  float:left;
  width:300px;
  text-align: left;
}

label {
  color: blue;
}

textarea {
  vertical-align: top;
}

img {
  border-radius: 50%;
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#HomePage, #TopLinks{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
};