<h3>To Sign-Up Please Create An Account Below:</h3>
<form action="/signup" method="POST">
	<input type="text" name="username" placeholder="Username:">
	<input type="password" name="password" placeholder="Password:">
	<input type="submit" value="Create Account">
</form>