<h3>To Sign-Up Please Create An Account Below:</h3>
<form action="/signup" method="POST">
	<input type="text" name="username" placeholder="Username:" pattern="[a-zA-Z0-9-]+" title="Please be sure to use only numbers or letters" required>
	<input type="password" name="password" placeholder="Password:" required>
	<input type="submit" value="Create Account">
</form>