<div id="HomePage">
<h1>Welcome to your video game tracker!</h1>
<img src = "./css/images/pexels-jeshootscom-442576.jpg" alt="Gaming time">
<p>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>
</div>