<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css"/>
	<title>My Video Game Tracking</title>
</head>
<body>
	<% if logged_in? %>
	<p id="TopLinks"><a href = "/games">Games</a> | <a href = "/logout">Logout</a></p>
	<% else %>
	<p id="TopLinks"><a href = "/">Home</a></p>
	<%end%>
	<%= yield %>
</body>
</html>